.task-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 10px 0;
  border-radius: 4px;
}

.task-name {
  width: 50%;
}

.task-actions {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.task-check {
  display: block;
}

.normal-task {
  background-color: rgb(164, 164, 164);
}

.completed-task {
  background-color: rgb(52, 218, 52);
}

.ongoing-task {
  background-color: rgb(217, 154, 37);
}
